.fontstyle{
    font-size: 40px; 
    color: rgb(107, 107, 107);
}
.borderstyle{
    height: 450px; 
    width: 450px; 
    border: 1px solid red;
}

.button_style{
    background-color: white;
    border: 1px solid white;
    color: rgb(29, 170, 29);
    font-size: 20px;
}

.login_1_style{
    float: right;
    margin-right: 300px;
    width: 240px;
    height: 25px;
    font-size: 15px; 
}

.login_2_style{
    float: right;
    width: 80px;
    height: 25px;
    font-size: 10px; 
}

.NEW_User{
    width: 100px;
    height: 25px;
    font-size: 15px;
    position: absolute;
    background-color: lightgray;
    color: black;
}

.blog_textbox{
    background-color: white;
    border-color: black;
    width: 400px;
    height: 300px;
    vertical-align: top;
    text-align: left;
}

.blog_title_textbox{
    background-color: white;
    border-color: black;
    width: 400px;
    height: 30px;
    vertical-align: top;
    text-align: left;
}
